body{
    background-color:whitesmoke;
}

nav{
    float:left;
    position:absolute;
    display:inline;
    background-color: lightseagreen;
    padding-bottom: 49%;
    padding-right: 1%;
    border-style: solid;
    border-width:1px;
}

li{
    list-style: square;
}


.texto-principal{
    text-align: justify;
    box-decoration-break: clone;
    padding-left: 20%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

button{
position:absolute; 
top:55%;
left:50%;
transform: translate(-50%, -50%);
background: #0066A2;
color: white;
border-style: outset;
border-color: #0066A2;
height: 50px;
width: 100px;
font: bold15px arial,sans-serif;
text-shadow: none;
}